<!doctype html>
<html>

<head>
  <% include ./sm_head %>

  <style>
  .star{
    font-size: 15px;
    color: #ffa500;
    font-family: arial;
  }

  .not{
    font-size: :15px;
    color: #cccccc;
    font-family: arial;
  }

  </style>

  <script>
    function addSellProduct(){
      var file = document.getElementById("file");
      var price = document.getElementById("price");
      var detail = document.getElementById("detail");

      var priceDataType = isNaN(price.value);

      if(file.value == ""){
        alert("사진을 추가해주세요.");
        return false;
      }else if((price.value=="") || (priceDataType == true)){
        alert("가격(숫자)을 입력해주세요.");
        return false;
      }
      else if(detail.value==""){
        alert("상세내용을 입력하세요.");
        return false;
      }
      else{
        form.submit();
        return true;
      }
    };

    window.onload = function(){
      var countTimer = setInterval(stopWatch, 1000);
    }

    function stopWatch(){
      var postTime = `<%= rows.product_date %>`;
      var period = `<%= rows.product_period %>`;
      var remainTimeDiv = document.getElementById("remainTimeDiv");
      var requestSellingDiv = document.getElementById("requestSellingDiv");
      var periodIntDays = parseInt(period.substring(0,1));

      var date = new Array();
      var time = new Array();

      date[0] = parseInt(postTime.substring(0,4));
      date[1] = parseInt(postTime.substring(5,7))-1;
      date[2] = parseInt(postTime.substring(8,10));

      time[0] = parseInt(postTime.substring(11,13));
      time[1] = parseInt(postTime.substring(14,16));
      time[2] = parseInt(postTime.substring(17,19));

      var convertedPostTime = new Date(date[0], date[1], date[2], time[0], time[1], time[2]);
      var dueTime = new Date(date[0], date[1], date[2]+periodIntDays, time[0], time[1], time[2]);

      var presentTime = new Date();

      periodIntDays = periodIntDays * 86400000;

      if(dueTime < presentTime){
        remainTimeDiv.innerHTML = "마감되었습니다.";
        requestSellingDiv.style.display = "none";
        clearInterval(countTimer);
      }else{
        var interval = dueTime - presentTime;
        var dateLeft, hourLeft, minuteLeft, secondLeft;

        interval = parseInt(interval/1000);
        dateLeft = parseInt(interval/86400);
        interval = parseInt(interval % 86400);
        hourLeft = parseInt(interval/3600);
        interval = parseInt(interval % 3600);
        minuteLeft = parseInt(interval/60);
        interval = parseInt(interval % 60);
        secondLeft = parseInt(interval);

        var leftStr = "";
        if(dateLeft > 0) leftStr += "<b>"+dateLeft+"</b>일 ";
        if(hourLeft > 0) leftStr += "<b>"+hourLeft+"</b>시간 ";
        if(minuteLeft > 0) leftStr += "<b>"+minuteLeft+"</b>분 ";
        leftStr += "<b>"+secondLeft+"</b>초";
        remainTimeDiv.innerHTML = leftStr;
      }
    }

    function buyRequest(productId){
      var link = '/sm_request/'+ productId + '/0';
      location.href = link;
    }

  </script>

</head>

<body>
  <!-- 네이게이션 상단 부분 -->
  <% include ./sm_top_navigator %>

  <div class="container" style="height:480px;">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h2 style="margin-left:2%;"><strong>[No. <%= `${num}` %>] <%= `${rows.product_name}` %></strong></h2>
      <hr/>
      <br/><br/>
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1">
    <div class="row" style="">
        <table class="table table-hover table-striped table-bordered" style="margin:auto; margin-bottom:3%">
          <tbody class="text-center">
            <tr>
              <td><strong>상품명</strong></td>
              <td><%= `${rows.product_name}` %></td>
            </tr>
            <tr>
              <td><strong>등록자 ID</strong></td>
              <td>
                <a href="/sm_review/search/<%= `${rows.product_seller}` %>" title="후기 보기" style="">
                <%= `${rows.product_seller}` %></a>
                <% if(avgRating != 0){
                  if(avgRating >= 4.7){ %>
                    <br/><label class="star">★★★★★</label>
                  <% }else if((avgRating>=3.7)&&(avgRating<4.7)){ %>
                    <br/><label class="star">★★★★</label><label class="not">★</label>
                  <% }else if((avgRating>=2.7)&&(avgRating<3.7)){ %>
                    <br/><label class="star">★★★</label><label class="not">★★</label>
                  <% }else if((avgRating>=1.7)&&(avgRating<2.7)){ %>
                    <br/><label class="star">★★</label><label class="not">★★★</label>
                  <% }else if((avgRating>=1)&&(avgRating<1.7)){ %>
                    <br/><label class="star">★</label><label class="not">★★★★</label>
                  <% } %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td><strong>희망 가격대</strong></td>
              <td><%= `${rows.product_price}` %> 원 이하</td>
            </tr>
            <tr>
              <td><strong>원하는 조건</strong></td>
              <td><textarea class="form-control col-sm-5" rows="5" style="cursor:context-menu; background-color:white; resize: none;" disabled><%= `${rows.product_detail}` %></textarea></td>
            </tr>
            <tr>
              <td><strong>남은 시간</strong></td>
              <td><div id="remainTimeDiv"></div></td>
            </tr>
          </tbody>
        </table>
      </div>

      <% if ((session_id != rows.product_seller) && (isTimeOut == 0)){ %>
        <div id="requestSellingDiv" style="text-align:center">
          <button type="button" class="btn btn-success" style="margin-top:5px;" data-toggle="collapse" data-target="#reportDiv">판매 신청하기</button>
        </div>
      <% } %>

      <div class="col-xs-13 col-md-8 col-md-offset-2">
      <div id="reportDiv" class="collapse text-center" style="margin-top:10px;">
        <form id="form" name="form" method='post' enctype="multipart/form-data" action="/sm_buy_itemDetail/<%= `${rows.product_id}` %>/<%= `${num}` %>">
        <table class="table table-bordered">
          <tbody class="text-center">
            <tr>
              <td>사진</td>
              <td>
                <input type="file" id="file" class="form-control" name="file"  accept="image/*";>
              </td>
            </tr>
            <tr>
              <td>가격</td>
              <td>
                <input type="text" id="price" class="form-control" name="price" placeholder="숫자만 입력해주세요.">
              </td>
            </tr>
            <tr>
              <td>상세내용</td>
              <td>
                <textarea type="text" id="detail" class="form-control" name="detail" rows="3"  placeholder="제품에 대한 설명을 해주세요" style="resize: none;"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" onclick="addSellProduct();" style="margin-bottom:2%;">등록</button>
        <!-- <hr /> -->
      </form>
      </div>
      </div>
  </div>
</div>


  <div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <% if(results.length == 0){ %>
        <h5>판매 신청자 현재 없음.</h5>
      <% }else if(results[0].product_name == null){ %>
        <h4 style="text-align:center;">판매 신청자 현재 없음.</h4>
      <% }else{ %>
        <hr/>
      <% } %>

      <table class="table table-hover table-striped table-responsive table-borderd">
        <% for (i=0; i<`${results.length}`; i++) { %>
          <% if(results[i].product_name != null){ %>
          <tbody>
            <tr>
              <td style="text-align:center;"><%= i+1 %></td>
              <td>
                <a href="/sm_review/search/<%= results[i].product_seller %>" title="후기 보기" style="">
                <%= results[i].product_seller %></a>
                <% if(results[i].avgRating != null){
                    if(results[i].avgRating >= 4.7){ %>
                      <label class="star">★★★★★</label>
                    <% }else if((results[i].avgRating>=3.7)&&(results[i].avgRating<4.7)){ %>
                      <label class="star">★★★★</label><label class="not">★</label>
                    <% }else if((results[i].avgRating>=2.7)&&(results[i].avgRating<3.7)){ %>
                      <label class="star">★★★</label><label class="not">★★</label>
                    <% }else if((results[i].avgRating>=1.7)&&(results[i].avgRating<2.7)){ %>
                      <label class="star">★★</label><label class="not">★★★</label>
                    <% }else if((results[i].avgRating>=1)&&(results[i].avgRating<1.7)){ %>
                      <label class="star">★</label><label class="not">★★★★</label>
                    <% } %>
                <% } %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <img class="img-responsive img-center" src="<%= photo[i] %>" alt="x" width="250"/>
                <h5 style="text-align:center;;word-break:break-all; word-wrap:break-word;">
                  <label style="color:blue">가격 : </label> <%= results[i].product_price %> 원
                </h5>
                <h5 style="text-align:center;word-break:break-all; word-wrap:break-word;">
                  <label style="color:blue">내용 : </label> <%= results[i].product_detail %>
                </h5>
                <h5 style="text-align:center;word-break:break-all; word-wrap:break-word;">
                  <label style="color:blue">등록일 : </label> <%= results[i].product_date %>
                </h5>
                <div style="text-align:center;">
                <% if(results[i].product_seller === session_id ) { %>  <!-- 파는 글 올린 사람 -->
                  <button type="button" id="delete" name="delete" class="btn btn-warning" onclick="delete();">삭제</button>
                  <button type="button" id="change" name="change" class="btn btn-primary">수정</button>
                <% } else if(user === session_id) { %>  <!-- 삽니다 게시글 주인 -->
                  <% if((isTrading == 1) && (tradingProduct == results[i].product_id)){ %>
                    <label style="color:red">거래중 </label>
                  <% }else if((isTrading == 1) && (tradingProduct != results[i].product_id)){ %>

                  <% }else{ %>
                      <button type="button" id="choice" name="choice" class="btn btn-success" onclick="buyRequest(<%= results[i].product_id %>);">구매하기</button>
                  <% } %>
                <% } else if(session_id === 'sooksmarket') { %>
                  <button type="button" id="admin_delete" name="admin_delete" class="btn btn-warning">삭제</button>
                <% } %>
              </div>
              </td>
            </tr>
          </tbody>
          <% } %>
        <% } %> <!-- for문 끝 -->
      </table>
      <hr/>
    </div>

  </div>


<% include ./sm_footer %>
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
