<!DOCTYPE html>
<html>
<head>
  <% include ./sm_head %>

  <script>

  function submitCheck(){
    var product = document.getElementById("product");
    var price = document.getElementById("price");
    var detail = document.getElementById("detail");

    var priceDataType = isNaN(price.value);

    if(product.value==""){
      alert("상품명을 입력하세요.");
      return false;
    }
    else if((price.value=="") || (priceDataType == true)){
      alert("가격(숫자)을 입력하세요.");
      return false;
    }
    else if(detail.value==""){
      alert("조건을 입력하세요.");
      return false;
    }
    else{
      var submitAfter = document.getElementById("submitAfter");
      var submitBefore = document.getElementById("submitBefore");

      submitAfter.style.display="";
      submitBefore.style.display="none";

      form.submit();
      return true;
    }
  }

  window.onload = function(){
    var loader = document.getElementById('loader');
    var body = document.getElementById('body');
    var loadPage = document.getElementById('loadPage');
    var loadPageFooter = document.getElementById('loadPageFooter');

    loader.style.display="none";
    body.style.backgroundColor="#ffffff";
    loadPage.style.display="";
    loadPageFooter.style.display="";


    $('#loader').hide();

    $("#category").val("<%= `${rows.product_period}` %>").attr("selected", "selected");
  }

  function cancel(){
    var cancelAfter = document.getElementById("cancelAfter");
    var cancelBefore = document.getElementById("cancelBefore");

    cancelAfter.style.display="";
    cancelBefore.style.display="none";
    
    location.href='/sm_buy_itemDetail/<%= id %>/<%= num %>';
  }

  </script>
  <style>
    .form-control {
      height: 40px;
    }

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>


</head>

<body class="body" id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <% include ./sm_top_navigator %>

    <div class="container">
      <h3 style="text-align:center;"><img src="/img/cart.png" width="37" style="margin-right:5%;"/>
        <strong> 요구 상품 세부사항 </strong>
      <img src="/img/online-shop.png" width="37" style="margin-left:5%;" /></h3>

      <hr />
      <div class="row">
      <div class="col-xs-12 col-md-12 col-md-offset-1">
        <form action='/buy_itemDetail/<%= id %>/<%= num %>/change' class="form-horizontal" role="form" id="form" name="form" method = "post" onsubmit="return submitCheck()" >
          <div class="form-group"> <!--has-success has-feedback-->
            <label for="" class="col-sm-3 control-label">사고싶은 하는 물건 :</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="product" id="product"  placeholder="내용을 입력해주세요." value="<%= rows.product_name %>">
            </div>
          </div>
          <div class="form-group"> <!--has-success has-feedback-->
            <label for="" class="col-sm-3 control-label">최대 가격 :</label>
            <div class="col-sm-5">
              <input type="text" id="price" class="form-control" name="price" placeholder="가격을 입력해주세요." value="<%= rows.product_price %>">
            </div>
          </div>
          <div class="form-group"> <!--has-success has-feedback-->
            <label for="" class="col-sm-3 control-label">경매기간 :</label>
            <div class="col-sm-5">
              <select class="form-control" id="category" name="category" style="cursor:context-menu;" disabled>
                <option value="3일">3일</option>
                <option value="5일">5일</option>
                <option value="7일">7일</option>
              </select>
            </div>
          </div>
          <div class="form-group"> <!--has-success has-feedback-->
            <label for="" class="col-sm-3 control-label">원하는 조건 :</label>
            <div class="col-sm-5">
              <textarea type="text" class="form-control" id="detail" name="detail" rows="3" placeholder="원하는 조건을 입력하세요" style="resize: none;"><%= rows.product_detail %></textarea>
            </div>
          </div>
          <div class="form-group"> <!--has-success has-feedback-->
            <div class="col-sm-5 col-sm-offset-3" style="text-align:center;">
              <button class="btn btn-primary" id="submitAfter" style="display:none" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 등록하기</button>
              <input type="submit" value="등록하기" class="btn btn-primary" id="submitBefore">
              <button class="btn btn-danger" id="cancelAfter" style="display:none" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 취소하기</button>
              <input type="reset" value="취소하기" class="btn btn-danger" id="cancelBefore" onclick="cancel()">
            </div>
          </div>

        </form>
      </div>
      </div>
    </div>
    <hr/>

  </div>

</body>


<div style="display:none" id="loadPageFooter">
  <% include ./sm_footer %>
</div>

</html>
