<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./sm_head %>
        <style>
            .checkbox-inline {
                cursor: context-menu;
            }

            input[type="checkbox"][disabled] {
                cursor: context-menu;
            }
        </style>
        <script>
            $(document).ready(function() {
                $('._edit').hide();
                $('.re').hide();
                $('.reply').click(function() {
                    $(this).next().toggle();
                });

                $('.edit').click(function(){
                  var id = $(this).attr('id');
                  $('.' + id).removeAttr("disabled");
                  $('#_'+id).show();
                  });
            });
        </script>

</head>

<body>
    <!-- Navigation -->
    <% include ./sm_top_navigator %>

        <!-- Page Content -->
        <div class="container">
            <!-- Introduction Row -->

            <!-- Team Members Row -->
            <div class="row">
                <!-- 0-->
                <div class="col-lg-12">
                    <h2 class="page-header">..</h2>
                </div>
                <!-- 1-->
                <div class="thumbnail">
                    <% for (i=0; i< photo.length; i++){
            if (photo[i] != ""){ %>
                        <img class="img-responsive img-center" src="<%= photo[i] %>" alt="x" />
                        <br/>
                        <% } %>
                            <% if (photo[0] == ""){ %>
                                <br/><br/>
                                </br/>
                                <% }
          } %>
                                    <br/>
                                    <table class="table table-hover">
                                        <tbody class="text-center">
                                            <tr>
                                                <td>등록일 : </td>
                                                <td>
                                                    <%= date %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>팔고자 하는 물건 : </td>
                                                <td>
                                                    <%= name %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>사용자 ID : </td>
                                                <td>
                                                    <%= seller %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>가격 : </td>
                                                <td>
                                                    <%= price %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>희망 거래 방법 : </td>
                                                <td>
                                                    <% if(way == 1){ %>
                                                        <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>직거래</label>
                                                        <label class="checkbox-inline"><input type="checkbox" class="disabled" disabled>사물함거래</label>
                                                        <% }else if (way == 2){ %>
                                                            <label class="checkbox-inline"><input type="checkbox" class="disabled" disabled>직거래</label>
                                                            <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>사물함거래</label>
                                                            <% }else { %>
                                                                <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>직거래</label>
                                                                <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>사물함거래</label>
                                                                <% } %>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>상세내용 : </td>
                                                <td><textarea class="form-control col-sm-5" rows="5" style="cursor:context-menu; background-color:white; resize: none;" disabled><%= detail %></textarea></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <button type="button" class="btn btn-default">스크랩</button>
                                    <button type="button" class="btn btn-primary">구매하기</button>
                                    <button type="button" class="btn btn-warning" onclick="location.href='/sm_itemDetail/<%= id %>/delete'">삭제</button>
                                    <button type="button" class="btn btn-default" onclick="location.href='/sm_changeDetail/<%= id %>'">수정</button>

                </div>
            </div>

            <hr>

            <div class="write_comment">
                <h5>댓글을 남겨주세요:)</h5>
                <form action='/sm_itemDetail/<%= id %>/comments' method='post' role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment_detail"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </form>
            </div>

            <!-- Comment -->
            <% for (i=0; i<`${rows.length}`; i++) { %>
              <% if(rows[i].child_id == 0 ) { %>
                <div class="media">
                    <div class="media-body">
                      <form action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit' method='post' role="form">
                        <h4 class="media-heading"><%= rows[i].session_id %>
                        <small><%= rows[i].comment_date %></small>
                        </h4>
                      <textarea name="comment" class="edit<%=i %>" disabled><%= rows[i].comment_detail  %></textarea>
                        <% if(rows[i].session_id === session_id ) { %>
                            <button class="_edit" id="_edit<%=i %>" >수정 완료</button>
                          </form>
                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                            <button class="edit" id="edit<%=i %>">수정</button>

                        <% } %>
                            <button class=reply id=reply<%=i %> >답글</button>
                            <div id=reply_element class=re>
                                <h5>댓글을 남겨주세요:)</h5>
                                <form action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/reply' method='post' role="form">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="each_comment_detail"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-xs">보내기</button>
                                </form>
                            </div>
                    </div>
                </div>
                <% }
                else { %>
                  <div class="media">
                    <a class="pull-left" href="#">
                      <img class="media-object" src="http://placehold.it/32x32" alt="">
                    </a>
                      <div class="media-body">
                        <form action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit' method='post' role="form">
                          <h4 class="media-heading"><%= rows[i].session_id %>
                          <small><%= rows[i].comment_date %></small>
                          </h4>
                          <textarea name="comment" class="edit<%=i %>" disabled><%= rows[i].comment_detail  %></textarea>
                          <% if(rows[i].session_id === session_id ) { %>
                            <button class="_edit" id="_edit<%=i %>" type="submit">수정 완료</button>
                              </form>
                              <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                              <button class="edit" id="edit<%=i %>">수정</button>

                            <% } %>

                      </div>
                  </div>
            <%  }
              } %>

                    <!-- Comment -->
                    <!-- <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Start Bootstrap
              <small>August 25, 2014 at 9:30 PM</small>
            </h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div> -->



                    <!-- Footer -->
                    <% include ./sm_footer %>

        </div>
        <!-- /container -->


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>
