<!DOCTYPE html>
<html>

<head>
    <% include ./sm_head %>
    <script type="text/javascript" src="/js/jquery.js"></script>

        <script type="text/javascript" src="/js/jquery.exif.js"></script>

        <style type="text/css">

        #testimg {
            transform-origin: top right; /* IE 10+, Firefox, etc. */
            -webkit-transform-origin: top right; /* Chrome */
            -ms-transform-origin: top right; /* IE 9 */
        }

        .rotate90 {
            transform: rotate(90deg)translateY(100%);
            -webkit-transform: rotate(270deg)translateY(-80%);
            -ms-transform: rotate(90deg)translateY(100%);
            margin-top: 20%;
          }

        </style>

        <style>
            .checkbox-inline {
                cursor: context-menu;
            }

            input[type="checkbox"][disabled] {
                cursor: context-menu;
            }

            .star {
                font-size: 15px;
                color: #ffa500;
                font-family: arial;
            }

            .not {
                font-size: :15px;
                color: #cccccc;
                font-family: arial;
            }

            #area {
                height: 80px;
                margin-bottom: 2%;
                background-color: aliceblue;
            }

            ._edit {
                margin-bottom: 1%;
            }

            .btn-warning {
                background-color: mediumblue;
                border-color: mediumblue;
            }

            #loader {
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 1;
              width: 150px;
              height: 150px;
              margin: -75px 0 0 -75px;
              border: 16px solid #f3f3f3;
              border-radius: 50%;
              border-top: 16px solid #3498db;
              width: 120px;
              height: 120px;
              -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
            }

            @-webkit-keyframes spin {
              0% { -webkit-transform: rotate(0deg); }
              100% { -webkit-transform: rotate(360deg); }
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
        </style>
        <script>
            var next = `<%= nextReserveCustomer %>`;

            window.onload = function(){
              var loader = document.getElementById('loader');
              var body = document.getElementById('body');
              var loadPage = document.getElementById('loadPage');

              loader.style.display="none";
              body.style.backgroundColor="#ffffff";
              loadPage.style.display="";

              $('#loader').hide();

              var session_id = `<%= session_id %>`;

              $('._edit').hide();
              $('.re').hide();
              $('.reply').click(function() {
                  $(this).next().toggle();
              });

              $('.edit').click(function() {
                  var id = $(this).attr('id');
                  $('.' + id).removeAttr("disabled");
                  $('#_' + id).show();
              });


              if (`${<%= flag %>}` == 1) {
                  if (`${<%= delete_btn %>}` == 0) {
                      $('#button_delete').attr("disabled", true);
                      $('#button_change').attr("disabled", true);
                      $('#button_buy').attr("disabled", true);
                  }
              } else {
                  if (next !== null) {

                  } else {
                      $('#button_reserve_Before').attr("disabled", true);
                  }
              }

              if (session_id === 'sooksmarket') {
                  $('#button_delete').attr("disabled", false);
              }



              var reserve_flag = 0;

              var reserveMembers = new Array();
              <% for(var i=0; i<reserveMember.length; i++){ %>
                <% if(session_id == reserveMember[i].session_id){ %>
                  reserve_flag = 1;
                <% } %>
              <% } %>

              if (reserve_flag == 1) {

              } else {
                  $('#button_reserve_no_Before').attr("disabled", true);
              }

              setTimeout(function(){
                  var testimg = $("#testimg");
                  if (testimg.exif("Orientation") == 8) {
                      testimg.addClass("rotate90");
                  }
                  testimg.show();
              }, 500);
            }


            function buy() {
                var button_buy_after = document.getElementById("button_buy_after");
                var button_buy = document.getElementById("button_buy");

                button_buy_after.style.display = "";
                button_buy.style.display = "none";

                location.href = '/sm_request/<%= id %>/0';
            };


            function reserve() {

                var flag = 0;
                var session_id = `<%= session_id %>`;
                var reserveMembers = new Array();
                <% for(var i=0; i<reserveMember.length; i++){ %>
                <% if(session_id == reserveMember[i].session_id){ %>
                flag = 1;
                <% } %>
                <% } %>
                // reserveMembers = `<%= reserveMember %>`;
                // var reserveMember_length= `<%= reserveMember.length %>`;

                if (flag == 1) {
                    alert("당신은 이미 대기상태 입니다")
                } else {
                    var button_reserve_After = document.getElementById("button_reserve_After");
                    var button_reserve_Before = document.getElementById("button_reserve_Before");

                    button_reserve_After.style.display = "";
                    button_reserve_Before.style.display = "none";

                    var reserve_count = `${<%= reserve_ordernumber %>}`;
                    alert(" 당신은 " + reserve_count + "번째 대기자 입니다 :)");
                    location.href = '/sm_request/<%= id %>/reserve/<%= session_id%>';
                }
            };


            function reserve_no() {
              var button_reserve_no_After = document.getElementById("button_reserve_no_After");
              var button_reserve_no_Before = document.getElementById("button_reserve_no_Before");

              button_reserve_no_After.style.display="";
              button_reserve_no_Before.style.display="none";

                alert("예약이 취소되었습니다");
                location.href = '/sm_request/<%= id %>/reserve_no/<%= session_id%>';
            }

            function send(link, i){
              if(i == 1){
                var sendAfter = document.getElementById("sendAfter");
                var sendBefore = document.getElementById("sendBefore");

                sendAfter.style.display="";
                sendBefore.style.display="none";
              } else if (i == 2){
                var send_After = document.getElementById("send_After");
                var send_Before = document.getElementById("send_Before");

                send_After.style.display="";
                send_Before.style.display="none";
              }

              var myForm = document.getElementById("myForm");
              myForm.action = link;
              myForm.submit();

            }

            function submitCheck(link) {
              if(i == 1){
                var sendAfter = document.getElementById("sendAfter");
                var sendBefore = document.getElementById("sendBefore");

                sendAfter.style.display="";
                sendBefore.style.display="none";
              }

                var myForm = document.getElementById("myForm");
                myForm.action = link;
                myForm.submit();
            }


            function sm_reserveAlarm_yes(){
              var reserveAlarm_yes_After = document.getElementById("sm_reserveAlarm_yes_After");
              var reserveAlarm_yes_Before = document.getElementById("sm_reserveAlarm_yes_Before");

              reserveAlarm_yes_After.style.display="";
              reserveAlarm_yes_Before.style.display="none";

              location.href='/sm_reserveAlarm_yes/<%= id %>';
            }

            function sm_reserveAlarm_no(){
              var reserveAlarm_no_After = document.getElementById("sm_reserveAlarm_no_After");
              var reserveAlarm_no_Before = document.getElementById("sm_reserveAlarm_no_Before");

              reserveAlarm_no_After.style.display="";
              reserveAlarm_no_Before.style.display="none";

              location.href='/sm_reserveAlarm_no/<%= id %>';
            }

            function productDelete(){
              var button_delete_after = document.getElementById("button_delete_after");
              var button_delete = document.getElementById("button_delete");

              button_delete_after.style.display="";
              button_delete.style.display="none";

              location.href='/sm_itemDetail/<%= id %>/delete';
            }

            function productChange(){
              var button_change_after = document.getElementById("button_change_after");
              var button_change = document.getElementById("button_change");

              button_change_after.style.display="";
              button_change.style.display="none";

              location.href='/sm_changeDetail/<%= id %>';
            }

        </script>

</head>

<body id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <!-- Navigation -->
    <% include ./sm_top_navigator %>

        <!-- Page Content -->
        <div class="container">
            <!-- Introduction Row -->
            <!-- Team Members Row -->
            <div class="row">
                <!-- 0-->
                <div class="col-lg-12 text-center">
                    <h3 class="page-header"><%= name %></h3>
                </div>
                <!-- 1-->
                <div class="thumbnail">

                    <% for (i=0; i< photo.length; i++) {
                      if (photo[i] != ""){ %>
                        <img id="testimg" exif="true" class="img-responsive img-center" src="<%= photo[i] %>" alt="x" width="300" height="200" style="display:none;"/>
                        <br/>
                      <% } %>
                      <% if (photo[0] == ""){ %>
                        <br/><br/></br/>
                      <% }
                    } %>
                    <br/>
                    <table class="table table-hover">
                      <tbody class="text-center">
                        <tr>
                          <td>등록일 : </td>
                          <td>
                            <%= date %>
                          </td>
                        </tr>
                        <tr>
                          <td>판매자 ID : </td>
                          <td>
                            <a href="/sm_review/search/<%= seller %>" title="후기 보기" style="">
                            <%= seller %>
                            </a>
                            <% if(avgRating != 0){
                              if(avgRating >= 4.7){ %>
                                <br/><label class="star">★★★★★</label>
                              <% }else if((avgRating>=3.7)&&(avgRating<4.7)){ %>
                                <br/><label class="star">★★★★</label><label class="not">★</label>
                              <% }else if((avgRating>=2.7)&&(avgRating<3.7)){ %>
                                <br/><label class="star">★★★</label><label class="not">★★</label>
                              <% }else if((avgRating>=1.7)&&(avgRating<2.7)){ %>
                                <br/><label class="star">★★</label><label class="not">★★★</label>
                              <% }else if((avgRating>=1)&&(avgRating<1.7)){ %>
                                <br/><label class="star">★</label><label class="not">★★★★</label>
                              <% } %>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td>가격 : </td>
                          <td>
                            <%= price %>
                          </td>
                        </tr>
                        <tr>
                          <td>희망 거래 방법 : </td>
                          <td>
                            <% if(way == 1){ %>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>직거래</label>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" disabled>사물함거래</label>
                            <% }else if (way == 2){ %>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" disabled>직거래</label>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>사물함거래</label>
                            <% }else { %>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>직거래</label>
                              <label class="checkbox-inline"><input type="checkbox" class="disabled" checked disabled>사물함거래</label>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td>상세내용 :
                          </td>
                          <td><textarea class="form-control col-sm-5" rows="5" style="cursor:context-menu; background-color:white; resize: none;" disabled><%= detail %></textarea></td>
                        </tr>
                      </tbody>
                    </table>
                    <center>
                      <% if(isDone == 0){ %>
                        <%  if(max_reserve_count == -1) { %>
                        <h5 style="color:red;font-weight:bold;">상품 거래 완료중, 다른 상품을 이용해주세요</h5>
                        <%  } else { %>
                          <% if(session_id === nextReserveCustomer) { %>
                            <h2>거래를 신청하시겠습니까?</h2><br/>
                            <button class="btn btn-warning" id="sm_reserveAlarm_yes_After" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 수락</button>
                            <button type="button" class="btn btn-warning" id="sm_reserveAlarm_yes_Before" onclick="sm_reserveAlarm_yes()">수락</button>
                            <button class="btn btn-warning" id="sm_reserveAlarm_no_After" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 거부</button>
                            <button type="button" class="btn btn-warning" id="sm_reserveAlarm_no_Before" onclick="sm_reserveAlarm_no()">거부</button>
                          <% } else if( nextReserveCustomer !== null) { %>
                            <h1>들어옴</h1>
                            <% for(var i=0; i<reserveMember.length; i++){ %>
                              <% if(session_id == reserveMember[i].session_id) { %>
                                <h1>거래가 진행중입니다.</h1>
                              <% } %>
                            <% } %>
                            <% if(session_id == seller) { %>
                              <h1>거래가 진행중입니다.</h1>
                            <% } else { %>
                              <button id="button_reserve_After" type="button"class="btn btn-primary" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 예약하기/현재 대기자수 <%= reserve_ordernumber %>명</button>
                              <button id="button_reserve_Before" type="button" class="btn btn-primary" onclick="reserve();">예약하기/현재 대기자수 <%= reserve_ordernumber %>명</button>
                              <button id="button_reserve_no_After" type="button"class="btn btn-primary" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 예약취소</button>
                              <button id="button_reserve_no_Before" type="button" class="btn btn-primary" onclick="reserve_no();">예약취소</button>
                            <% } %>
                          <% } else { %>
                            <% if (session_id === customer) { %>
                                <h5 style="color:red;font-weight:bold;"> 현재 구매하고 있는 제품 입니다.</h5>
                            <% } else if (session_id === 'sooksmarket') { %>
                              <button id="button_delete_after" class="btn btn-warning" style="display:none" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 삭제</button>
                              <button id="button_delete" type="button" class="btn btn-warning" onclick="productDelete()">삭제</button>
                            <% } else { %>
                              <% if (session_id !== seller){ %>
                                <button id="button_buy_after" class="btn btn-primary" style="display:none" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 구매하기</button>
                                <button id="button_buy" type="button" class="btn btn-primary" onclick="buy();">구매하기</button>
                                <button id="button_reserve_After" class="btn btn-primary" style="display:none" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 예약하기/현재 대기자수 <%= reserve_ordernumber-1 %>명</button>
                                <button id="button_reserve_Before" type="button" class="btn btn-primary" onclick="reserve();">예약하기/현재 대기자수 <%= reserve_ordernumber-1 %>명</button>
                                <button id="button_reserve_no_After" type="button"class="btn btn-primary" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 예약취소</button>
                                <button id="button_reserve_no_Before" type="button" class="btn btn-primary" onclick="reserve_no();">예약취소</button>
                              <% } %>
                              <% if (session_id == seller) { %>
                                <button id="button_delete_after" type="button"class="btn btn-warning" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 삭제</button>
                                <button id="button_delete" type="button" class="btn btn-warning" onclick="productDelete()">삭제</button>
                                <button id="button_change_after" type="button"class="btn btn-default" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 수정</button>
                                <button id="button_change" type="button" class="btn btn-default" onclick="productChange()">수정</button>
                              <% } %>
                            <% } %>
                          <% } %>
                        <% } %>
                      <% } else { %>
                        <h5 style="color:red;font-weight:bold;">판매 완료된 상품입니다.</h5>
                      <% } %>
                    </center>
                </div>
            </div>


            <hr>

            <form id="myForm" name="myForm" method='post'>

                <div class="write_comment">
                    <h5>문의는 댓글로 남겨주세요:)</h5>
                    <input type="hidden" name="hidden" id="hidden" value="<%= seller %>" />

                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="comment_detail" name="comment_detail" onchange="textChange()"></textarea>
                    </div>
                    <button id="sendAfter" type="button" class="btn btn-warning btn-sm" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 보내기</button>
                    <button id="sendBefore" type="button" class="btn btn-warning btn-sm" onclick="send('/sm_itemDetail/<%= id %>/comments', 1);" >보내기</button>
                    <!-- </form> -->
                </div>

                <script>
                document.getElementById("sendBefore").disabled = "true";
                document.onkeyup = textChange;
                document.onmouseup = textChange;
                document.onmousedown = textChange;


                function textChange(){

                  if (document.getElementById("comment_detail").value == '') {
                    //alert(document.getElementById("comment_detail").value);
                      document.getElementById("sendBefore").setAttribute('disabled', 'disabled');
                  } else {
                      document.getElementById("sendBefore").removeAttribute('disabled');
                  }
                }
                </script>

                <!-- Comment -->
                <% for (i=0,j=0; i<`${rows.length}`; i++) { %>
                    <% if(rows[i].child_id == 0 ) { %>
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"><%= rows[i].session_id %>
                      <small><%= rows[i].comment_date %></small>
                      </h4>
                                <!-- <form id="myForm1" method='post' action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit'> -->
                                <textarea id="area" name="comment" class="edit<%=i %> form-control" disabled style="cursor: context-menu;"><%= rows[i].comment_detail  %></textarea>
                                <% if(rows[i].session_id === session_id ) { %>
                                    <button class="_edit btn btn-warning btn-xs" id="_edit<%=i %>" onclick="submitCheck('/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit');">수정 완료</button>
                                    <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                                    <button type="button" class="edit btn btn-warning btn-xs" id="edit<%=i %>">수정</button>
                                    <% } else if(session_id === 'sooksmarket') { %>
                                        <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                                        <% } %>
                                            <!-- </form> -->
                                            <button type="button" class="reply btn btn-warning btn-xs" id="reply<%=i %>">답글</button>
                                            <div id=reply_element class="re">
                                                <h5>댓글을 남겨주세요:)</h5>
                                                <!-- <form action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/reply' method='post' role="form"> -->
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="3" name="each_comment_detail" id="each_comment_detail"></textarea>
                                                </div>

                                                <button id="send_After" type="button" class="btn btn-default btn-sm" style="display:none;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 보내기</button>
                                                <button id="send_Before" type="button" class="btn btn-default btn-sm" onclick="send('/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/reply/<%=j%>', 2);">보내기</button>
                                                <% j++ %>

                                                    <!-- </form> -->
                                            </div>
                                            <script>
                                            document.getElementById("send_Before").disabled = "true";
                                            document.onkeyup = textChange;
                                            document.onmouseup = textChange;
                                            document.onmousedown = textChange;


                                            function textChange(){

                                              if (document.getElementById("each_comment_detail").value == '') {
                                                //alert(document.getElementById("comment_detail").value);
                                                  document.getElementById("send_Before").setAttribute('disabled', 'disabled');
                                              } else {
                                                  document.getElementById("send_Before").removeAttribute('disabled');
                                              }
                                            }
                                            </script>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img src="/img/snow.gif" width="32" alt="" />
                                    <!-- <img class="media-object" src="http://placehold.it/32x32" alt=""> -->
                                </a>
                                <div class="media-body">
                                    <!-- <form action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit' method='post' role="form"> -->
                                    <h4 class="media-heading"><%= rows[i].session_id %>
                          <small><%= rows[i].comment_date %></small>
                          </h4>

                                    <!-- <form id="myForm" method='post' action='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit'> -->
                                    <textarea name="comment" class="edit<%=i %> form-control" disabled style="cursor: context-menu;"><%= rows[i].comment_detail  %></textarea>

                                    <% if(rows[i].session_id === session_id ) { %>


                                        <button class="_edit btn btn-warning btn-xs" id="_edit<%=i %>" onclick="submitCheck('/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/edit');">수정 완료</button>

                                        <!-- </form> -->
                                        <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                                        <button type="button" class="edit btn btn-warning btn-xs" id="edit<%=i %>">수정</button>
                                        <% } else if(session_id === 'sooksmarket') { %>
                                            <button type="button" class="btn btn-warning btn-xs" onclick="location.href='/sm_itemDetail/<%= id %>/comment/<%= rows[i].parent_id %>/<%= rows[i].child_id %>/delete'">삭제</button>
                                            <% } %>


                                </div>
                            </div>
                            <%  } } %>

            </form>
            <!-- Footer -->
            <% include ./sm_footer %>

        </div>
        <!-- /container -->


        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </div>
</body>

</html>
