<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ./sm_head %>


    <style>
    a:link {text-decoration: none;}
    a:visited {text-decoration: none; color: #000066;}
    div.thumbnail:hover { border: 1px solid #777; }
    </style>

    <script>
    $(document).ready(function(){
      if(<%= `${loginon}` %> == 1){
      alert('로그인 상태입니다');
      }
    });
    function(){
      var ul = document.getElementById("UL");
      var x = ul.a.div.val();
      alert(x);
    }

    </script>
  </head>

  <body>
    <% include ./sm_top_navigator %>


    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">

            <form class="input-group">
              <div class="input-group-btn">
                <select class="btn btn-default selectpicker" style="height: 34px;">
                    <option>상의</option>
                    <option>하의</option>
                    <option>화장품</option>
                    <option>책</option>
                    <option>전자기기</option>
                    <option>음식</option>
                    <option>필기류</option>
                    <option>티켓 양도</option>
                    <option>기타</option>
                </select>
              </div>
              <input type="text" class="form-control" placeholder="Search..." />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="location.href='/sm_main'"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </form>

        </div>
      </div>
    </div>

    <!-- Page Content -->
    <div class="container">
      <!-- Introduction Row -->
      <!-- Team Members Row -->


      <div class="row">
        <!-- 0-->
        <div class="col-lg-12" style="margin-top:8%;">
          <h3 style="display:inline;">현재 등록된 물건</h3>
          <a href="/sm_addItems">
          <button type="button" class="btn btn-primary" style="display:inline; float:right;">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 상품 등록
          </button>
          </a>
          <hr/>

        </div>
        <!-- 1-->
        <% for (i=((name.length)-1); i>=0 ; i--){%>
          <!-- <div class="col-lg-4 col-sm-6 col-xs-6 text-center"> -->

          <div class="col-xs-6 col-md-3 text-center">
            <div class="thumbnail">
              <a href="/sm_itemDetail/<%= PK[i] %>" >
                <% if(photo[i] != ""){ %>
                  <img class="img-responsive img-center" src="<%= photo[i] %>" alt="x" style="height:180px; width: 300px; margin-top:2%"/>
                <% } else{ %>
                  <img class="img-responsive img-center" src="./사진없음.JPG" alt="x" style="height:180px; width: 300px; margin-top:2%"/>
                  <!-- 사진없음 이미지 긁어온 곳 : http://www.taekwangsnc.com/new/shop/list.php?ca_id=5010 -->
                <% } %>

                <h3 id="name" name="name" style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">
                  <%= name[i] %>
                </h3>
                <small><%= id[i] %></small>
              </a>
            </div>
          </div>
        <% } %>

      </div>

      <hr>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <!-- Footer -->
  <% include ./sm_footer %>

</html>
