<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./sm_head %>
  </head>

  <body>
      <% include ./sm_top_navigator %>

    <!-- Page Content -->

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">전체보기</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#contains">의류</a></li>
                      <li><a href="#its_equal">식품</a></li>
                      <li><a href="#greather_than">숙명여대</a></li>
                      <li><a href="#less_than">영화티켓</a></li>
                      <li class="divider"></li>
                      <li><a href="#all">기타</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
	</div>
</div>




    <div class="container">
        <!-- Introduction Row -->

        <!-- Team Members Row -->
        <div class="row">
            <!-- 0-->
            <div class="col-lg-12">
                <h2 class="page-header">현재 등록된 제품</h2>
            </div>
            <!-- 1-->
            <% for (i=0; i< name.length; i++){
              if(((i+1) % 2) == 0){ %>
                <br/>
              <% } %>

              <div class="col-lg-4 col-sm-6 text-center">
                <div class="thumbnail">
                  <a href="/sm_itemDetail/<%= PK[i] %>">
                    <% if(photo[i] != ""){ %>
                        <img class="img-responsive img-center" src="<%= photo[i] %>" alt="x" />
                    <% } else{ %>
                        <img class="img-responsive img-center" src="./사진없음.png" alt="x" />

                    <% }%>
                  </a>
                  <h3 id="name" name="name"><%= name[i] %>
                      <small><%= id[i] %></small>
                  </h3>
                  <p><%= detail[i] %></p>
                </div>
              </div>
            <% } %>



        </div>



        <hr>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <!-- Footer -->
  <% include ./sm_footer %>

</html>
