<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>시간 선택</title>


    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/round.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    var time = new Array();

    function cancle(){
      var finalDate = document.getElementById("finalDate");
      var finalTime = document.getElementById("finalTime");
      var finalTradeWay = document.getElementById("finalTradeWay");
      alert(finalDate.value);
      alert(finalTime.value+"\n"+finalTradeWay.value);
    }

    function showHide(i) {
            $("#collapse" + i).collapse('show');
            for (var j = 0; j < 3; j++) {
                if (j == i) {

                } else {
                    $("#collapse" + j).collapse('hide');
                }
            }
        }

    function disableOther(day, i){
      var finalDate = document.getElementById("finalDate");
      var finalTime1 = document.getElementById("finalTime");
      var days = new Array();
      var k,j;
      days[0] = `<%= results[0].trade_date %>`;

      <%
      if((results.length==2)||(results.length == 3)){%>
        days[1] = `<%= results[1].trade_date %>`;
      <% }
      if(results.length == 3){ %>
        days[2] = `<%= results[2].trade_date %>`;
      <% } %>

      if(i<=5){
        for(j=1; j<=5; j++){
          time[j] = document.getElementsByName("time"+day+""+j);
        }
        for(k=1; k<=5; k++){
          if(k==i){
            finalDate.value = days[day];
            finalTime.value = time[i][0].value;
          }else{
            if(time[k][0] != undefined){
              time[k][0].checked = false;
            }
          }
        }
      }
      else{
        var finalTradeWay = document.getElementById("finalTradeWay");
        var lockerCheck = document.getElementsByName("locker"+day);
        var directCheck = document.getElementsByName("direct"+day);
        if(i==6){
          if(lockerCheck[0]!=undefined){
          lockerCheck[0].checked = false;
          }
          finalTradeWay.value = directCheck[0].value;
        }else if(i==7){
          if(directCheck[0]!=undefined){
          directCheck[0].checked = false;
          }
          finalTradeWay.value = lockerCheck[0].value;
        }
      }
      for(k=0; k<=2; k++){
        if((days[k]!==undefined)&&(k!=day)){
          for(j=1; j<=5; j++){
            time[j] = document.getElementsByName("time"+k+""+j);
            if(time[j][0] != undefined){
              time[j][0].checked = false;
            }
          }
          lockerCheck = document.getElementsByName("locker"+k);
          directCheck = document.getElementsByName("direct"+k);
          if(lockerCheck[0]!=undefined){
          lockerCheck[0].checked = false;
          }
          if(directCheck[0]!=undefined){
          directCheck[0].checked = false;
          }
        }
      }
    }

    function submitCheck(){
      var form = document.getElementById("eventFrom");
      var time = new Array();
      var i, j, day, isTimeChecked, isWayChecked;
      isTimeChecked = isWayChecked = 0;


      for(i=0; i<3; i++){
        time[i] = new Array();
      }

      for(i=0; i<3; i++){
        for(j=1; j<=5; j++){
          time[i][j] = document.getElementsByName("time"+i+""+j);
          if(time[i][j][0] != undefined){

            if(time[i][j][0].checked == true){
              isTimeChecked = 1;
              day=i;
            }
          }
        }
      }

      if(isTimeChecked == 0){
        alert("원하는 날짜에서 시간을 선택해주세요!");
        return false;
      }

      var lockerCheck = document.getElementsByName("locker"+day);
      var directCheck = document.getElementsByName("direct"+day);

      if(lockerCheck[0] != undefined){
        if(lockerCheck[0].checked == true){
          isWayChecked++;
        }
      }

      if(directCheck[0] != undefined){
        if(directCheck[0].checked == true){
          isWayChecked++;
        }
      }

      if(isWayChecked == 0){
        alert("선택한 날짜에서 거래 방법을 선택해주세요!");
        return false;
      }else if(isWayChecked == 2){
        alert("거래 방법을 하나만 선택해주세요!");
        return false;
      }

      var socket = io();
      socket.emit('chat message', 22);

      var tradeOKAfter = document.getElementById("tradeOKAfter");
      var tradeOKBefore = document.getElementById("tradeOKBefore");

      tradeOKAfter.style.display="";
      tradeOKBefore.style.display="none";

      form.submit();
      return true;
    }

    window.onload = function(){
      var loader = document.getElementById('loader');
      var body = document.getElementById('body');
      var loadPage = document.getElementById('loadPage');
      var loadPageFooter = document.getElementById('loadPageFooter');

      loader.style.display="none";
      body.style.backgroundColor="#ffffff";
      loadPage.style.display="";
      loadPageFooter.style.display="";


      $('#loader').hide();
    }

    function timeChange(){
      var timeChangeAfter = document.getElementById("timeChangeAfter");
      var timeChangeBefore = document.getElementById("timeChangeBefore");

      timeChangeAfter.style.display="";
      timeChangeBefore.style.display="none";

      location.href='/sm_request/<%=id%>/0';
    }

    function tradeCancel(){
      var tradeCancelAfter = document.getElementById("tradeCancelAfter");
      var tradeCancelBefore = document.getElementById("tradeCancelBefore");

      tradeCancelAfter.style.display="";
      tradeCancelBefore.style.display="none";

      location.href='/sm_rejectTrade/<%=id%>/<%=num%>/0';
    }

    function back(){
      var backAfter = document.getElementById("backAfter");
      var backBefore = document.getElementById("backBefore");

      backAfter.style.display="";
      backBefore.style.display="none";

      location.href='/sm_chat/<%=id%>';
    }
    </script>


    <style>
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>

</head>

<body id="body">

  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <% include ./sm_top_navigator %>

        <div class="container">

            <h2><strong> 최종 거래 시간 선택 </strong></h2>
            <div class="alert alert-info" role="alert">
            <small>
              구매자가 제시한 날짜와 시간, 거래 장소를 하나만 신중하게 선택해 주세요. 날짜별로 사용자가 제시한 시간과 장소가 다를 수 있습니다.
              <br/><br/>※가능한 시간이 없으시다면 <strong>"시간 변경"</strong> 버튼을 눌러 가능하신 날짜와 시간을 선택해주세요.
              <br/>※거래를 파기하고 싶으시다면, <strong>"거래 취소"</strong> 버튼을 눌러주세요.
            </small>
          </div>
            <hr>

            <form id="eventFrom" method="post" class="form-horizontal" onsubmit="return submitCheck()">
              <label style="font-size:20px;">가능한 날짜 하나 선택</label><br/>
              <small>※다른 날짜를 선택하시면 다른 날짜에서의 선택사항은 초기화됩니다.</small>

                <div class="panel-group" id="accordion">
                  <%
                  var isAllDisabled = 1;
                  var date0, date1, time0, time1;
                  var tradeTime, presentTime;
                  %>
                    <% for(var i=0; i<results.length; i++){ %>

                        <div class="panel panel-default">
                            <div class="panel-heading" onclick="showHide(<%=i%>);">
                                <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
                                <%= `${results[i].trade_date}` %></a>
                              </h4>
                            </div>

                            <div id="collapse<%=i%>" class="panel-collapse collapse in">
                                <div class="panel-body">

                                        <label>[ 거래 가능한 시간을 선택하세요. ]</label>
                                        <br/>
                                        <% if(results[i].trade_time1 !== null){ %>
                                          <label style="font-weight:normal;">
                                          <%
                                          date0 = parseInt(results[i].trade_date.substring(0,2))-1;
                                          date1 = parseInt(results[i].trade_date.substring(4,6));
                                          time0 = parseInt(results[i].trade_time1.substring(0,2));
                                          time1 = parseInt(results[i].trade_time1.substring(3,5));

                                          tradeTime = new Date(2017, date0, date1, time0, time1);
                                          presentTime = new Date();

                                          if(presentTime >= tradeTime){ %>
                                            <input type="checkbox" name="time<%=i%>1" value="<%= `${results[i].trade_time1}` %>" disabled>
                                            <%= `${results[i].trade_time1}` %> <b style="color:red;">(시간 지남)</b>
                                          <% }else{
                                            isAllDisabled = 0;
                                          %>
                                            <input type="checkbox" name="time<%=i%>1" value="<%= `${results[i].trade_time1}` %>" onclick="disableOther(<%=i%>,1);" >
                                            <%= `${results[i].trade_time1}` %>
                                          <% } %>

                                        </label>
                                        <br />
                                        <% } %>

                                        <% if(results[i].trade_time2 !== null){ %>
                                          <label style="font-weight:normal;">
                                            <%
                                            date0 = parseInt(results[i].trade_date.substring(0,2))-1;
                                            date1 = parseInt(results[i].trade_date.substring(4,6));
                                            time0 = parseInt(results[i].trade_time2.substring(0,2));
                                            time1 = parseInt(results[i].trade_time2.substring(3,5));

                                            tradeTime = new Date(2017, date0, date1, time0, time1);
                                            presentTime = new Date();

                                            if(presentTime >= tradeTime){ %>
                                              <input type="checkbox" name="time<%=i%>2" value="<%= `${results[i].trade_time2}` %>" disabled>
                                              <%= `${results[i].trade_time2}` %> <b style="color:red;">(시간 지남)</b>
                                            <% }else{
                                              isAllDisabled = 0;
                                            %>
                                            <input type="checkbox" name="time<%=i%>2" value="<%= `${results[i].trade_time2}` %>" onclick="disableOther(<%=i%>,2);">
                                            <%= `${results[i].trade_time2}` %>
                                            <% } %>

                                          </label>
                                        <br />
                                        <% } %>

                                        <% if(results[i].trade_time3 !== null){ %>
                                          <label style="font-weight:normal;">
                                            <%
                                            date0 = parseInt(results[i].trade_date.substring(0,2))-1;
                                            date1 = parseInt(results[i].trade_date.substring(4,6));
                                            time0 = parseInt(results[i].trade_time3.substring(0,2));
                                            time1 = parseInt(results[i].trade_time3.substring(3,5));

                                            tradeTime = new Date(2017, date0, date1, time0, time1);
                                            presentTime = new Date();

                                            if(presentTime >= tradeTime){ %>
                                              <input type="checkbox" name="time<%=i%>3" value="<%= `${results[i].trade_time3}` %>" disabled>
                                              <%= `${results[i].trade_time3}` %> <b style="color:red;">(시간 지남)</b>
                                            <% }else{
                                              isAllDisabled = 0;
                                            %>
                                            <input type="checkbox" name="time<%=i%>3" value="<%= `${results[i].trade_time3}` %>" onclick="disableOther(<%=i%>,3);">
                                            <%= `${results[i].trade_time3}` %>
                                            <% } %>

                                        </label>
                                        <br />
                                        <% } %>

                                        <% if(results[i].trade_time4 !== null){ %>
                                          <label style="font-weight:normal;">
                                            <%
                                            date0 = parseInt(results[i].trade_date.substring(0,2))-1;
                                            date1 = parseInt(results[i].trade_date.substring(4,6));
                                            time0 = parseInt(results[i].trade_time4.substring(0,2));
                                            time1 = parseInt(results[i].trade_time4.substring(3,5));

                                            tradeTime = new Date(2017, date0, date1, time0, time1);
                                            presentTime = new Date();

                                            if(presentTime >= tradeTime){ %>
                                              <input type="checkbox" name="time<%=i%>4" value="<%= `${results[i].trade_time4}` %>" disabled>
                                              <%= `${results[i].trade_time4}` %> <b style="color:red;">(시간 지남)</b>
                                            <% }else{
                                              isAllDisabled = 0;
                                            %>
                                            <input type="checkbox" name="time<%=i%>4" value="<%= `${results[i].trade_time4}` %>" onclick="disableOther(<%=i%>,4);">
                                            <%= `${results[i].trade_time4}` %>
                                            <% } %>

                                        </label>
                                        <br />
                                        <% } %>

                                        <% if(results[i].trade_time5 !== null){ %>
                                          <label style="font-weight:normal;">
                                            <%
                                            date0 = parseInt(results[i].trade_date.substring(0,2))-1;
                                            date1 = parseInt(results[i].trade_date.substring(4,6));
                                            time0 = parseInt(results[i].trade_time5.substring(0,2));
                                            time1 = parseInt(results[i].trade_time5.substring(3,5));

                                            tradeTime = new Date(2017, date0, date1, time0, time1);
                                            presentTime = new Date();

                                            if(presentTime >= tradeTime){ %>
                                              <input type="checkbox" name="time<%=i%>5" value="<%= `${results[i].trade_time5}` %>" disabled>
                                              <%= `${results[i].trade_time5}` %> <b style="color:red;">(시간 지남)</b>
                                            <% }else{
                                              isAllDisabled = 0;
                                            %>
                                            <input type="checkbox" name="time<%=i%>5" value="<%= `${results[i].trade_time5}` %>" onclick="disableOther(<%=i%>,5);">
                                            <%= `${results[i].trade_time5}` %>
                                            <% } %>

                                        </label>
                                        <br />
                                        <% } %>

                                        <br/>
                                        <label>[ 원하는 거래 방법을 선택하세요. ]</label>
                                        <br/>
                                        <% if(results[i].directDetailPlace !== null){ %>
                                          <label style="font-weight:normal;">
                                            <input type="checkbox" name="direct<%=i%>" value="직거래" onclick="disableOther(<%=i%>,6);">
                                            직거래 (<%= `${results[i].directPlace}` %>)
                                          </label>
                                            <br/>
                                           : <%= `${results[i].directDetailPlace}` %>
                                        <% } %>

                                        <% if((results[i].directDetailPlace !== null)&&(results[i].lockerDetailPlace !== null)){ %>
                                          <br/><br/>
                                        <% } %>

                                        <% if(results[i].lockerDetailPlace !== null){ %>
                                          <label style="font-weight:normal;">
                                            <input type="checkbox" name="locker<%=i%>" value="사물함거래" onclick="disableOther(<%=i%>,7);">
                                            사물함거래
                                          </label>
                                          <br/>
                                          - 위치 : <%= `${results[i].lockerDetailPlace}` %><br/>
                                          - 번호 : <%= `${results[i].lockerNum}` %><br/>
                                          <% if((results[i].lockerPw !== null)||(results[i].lockerPw != " ")){ %>
                                            - 비번 : <%= `${results[i].lockerPw}` %>
                                            <% } %>
                                          <% } %>


                                </div>
                            </div>

                                <script>
                                    $("#collapse<%=i%>").collapse('hide');
                                </script>

                        </div>

                        <% } %>
                </div>
                <div style="display: none;">
                  날짜 <input type="text" id="finalDate" name="finalDate" />
                  시간 <input type="text" id="finalTime" name="finalTime" />
                  거래방식 <input type="text" id="finalTradeWay" name="finalTradeWay" />
                </div>
                <hr/>

                <div class="form-group">
                    <div  style="text-align:center;">
                      <% if (isClicked == 0){ %>
                        <% if (isAllDisabled != 1){ %>
                          <button class="btn btn-primary" id="tradeOKAfter" style="display:none; font-size:13px;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 거래 확정</button>
                          <button type="submit" class="btn btn-primary" id="tradeOKBefore" style="font-size:13px;">거래 확정</button>
                        <% }else{ %>
                          <h5 style="color:red;">모든 거래 신청 시간이 현재 시간보다 이전입니다.<br/><br>"시간 변경" 혹은 "거래 취소"" 버튼을 눌러주세요.</h5><br/>
                        <% } %>
                        <button class="btn btn-success" id="timeChangeAfter" style="display:none; font-size:13px;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 시간 변경</button>
                        <button type="button" class="btn btn-success" id="timeChangeBefore" style="font-size:13px;" onclick="timeChange()">시간 변경</button>
                        <button class="btn btn-danger" id="tradeCancelAfter" style="display:none; font-size:13px;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 거래 취소</button>
                        <button type="button" class="btn btn-danger" id="tradeCancelBefore" style="font-size:13px;" onclick="tradeCancel()">거래 취소</button>
                      <% } %>
                        <button class="btn btn-default" id="backAfter" style="display:none; font-size:13px;" disabled><i class="fa fa-circle-o-notch fa-spin"></i> 돌아가기</button>
                        <button type="button" class="btn btn-default" id="backBefore" style="font-size:13px;" onclick="back()">돌아가기</button>
                    </div>
                </div>

            </form>
        </div>


        <hr/>

        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </div>
</body>

<div style="display:none" id="loadPageFooter">
  <% include ./sm_footer %>
</div>

</html>
