<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./sm_head %>

    <title>scrap</title>

    <style>
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    a:link {text-decoration: none;}
    a:visited {text-decoration: none; color: #000066;}
    div.thumbnail:hover { border: 1px solid #777; }

    #snackbar {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background-color: #333;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 16px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }

    #snackbar.show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }

    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }

    </style>

    <script>

    var scrap = function(i) {
      id="scrap" + i;
      var element = document.getElementById(id);
      var x = document.getElementById("snackbar");
      var scrapImg;
      var scrapName = document.getElementById("name"+i).outerText;

      x.className = "show";

      if(element.outerText == "☆"){
        scrapImg = (element.innerHTML = "★");
        element.style.color = "#ff6666";
        element.style.fontSize = '135%';

        x.innerHTML = "스크랩되었습니다."
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 1000);
      }else{
        scrapImg = (element.innerHTML = "☆");
        element.style.color = "#ff6666";
        element.style.fontSize = '135%';

        x.innerHTML = "스크랩이 해제되었습니다."
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 1000);
      }


      $.post("/sm_main/"+i, {scrapName: scrapName, scrapImg: scrapImg});

    };

    window.onload = function(){
      var loader = document.getElementById('loader');
      var body = document.getElementById('body');
      var loadPage = document.getElementById('loadPage');

      loader.style.display="none";
      body.style.backgroundColor="#ffffff";
      loadPage.style.display="";

      $('#loader').hide();
    }

    var itemDetail = function(i){
      if ("<%= `${on}` %>" == 1){
        alert('한 달(<%= `${allowDate}` %>)동안 사용하실 수 없습니다.');
        detail="Detail" + i;
        var element = document.getElementById(detail);
        element.href = '/sm_main';
      } else if(<%=applyRejection%> == 1){
        alert('거래 취소를 하셨기 때문에, \n취소하신 시간부터 5시간동안 사용하실 수 없습니다.');
        detail="Detail" + i;
        var element = document.getElementById(detail);
        element.href = '/sm_main';
      }
    };


    </script>
</head>

<body id="body">
  <div id="loader"></div>

  <div style="display:none" id="loadPage">
    <% include ./sm_top_navigator %>

    <div class="container">
      <h3 style="text-align:center;"><img src="/img/star.png" width="37" style="margin-right:5%;"/>
        <strong> MY 스크랩 </strong>
      <img src="/img/star.png" width="37" style="margin-left:5%;" /></h3>

      <hr />


        <!-- 본문 1-->
        <div class="row">
            <div id="snackbar">스크랩되었습니다.</div>


            <% for (i=((`${result.length}`)-1), flag=0; i>=0 ; i--, flag=0){%>

              <div class=" col-sm-6 col-xs-6 col-md-3 text-center">
                  <div class="thumbnail">
                    <p style="float:left; margin-left: 0.5%">
                      <a href="#;" id="scrap<%= i %>" style="color:#ff6666; font-size:135%; font-family: arial" onclick="scrap(<%= i %>)">
                        ★
                      </a>
                    </p>
                    <a href="/sm_itemDetail/<%= result[i].product_id %>" id="Detail<%= i %>" onclick="itemDetail(<%= i %>)">
                        <% if(result[i].scrap_photo != ""){ %>
                          <img class="img-responsive img-center" src="<%= result[i].scrap_photo %>" alt="x" style="height:30vh; width: 38vh; margin-top:2%"/>
                        <% } else{ %>
                          <img class="img-responsive img-center" src="./사진없음.JPG" alt="x" style="height:30vh; width: 38vh; margin-top:2%"/>
                        <!-- 사진없음 이미지 긁어온 곳 : http://www.taekwangsnc.com/new/shop/list.php?ca_id=5010 -->
                        <% } %>


                      <h3 id="name<%= i %>" name="name" style="text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">
                        <%= result[i].scrap_name %>
                      </h3>
                      <h5 style="text-align:center;">가격 : <%= result[i].scrap_price %> 원</h5>
                      <h5 style="text-align:center;">판매자 : <%= result[i].scrap_seller %></h5>
                    </a>
                  </div>
                </div>
              <% } %>

              <% if(`${result.length}` == 0 ){ %>
                <div>
                  <h3 style="text-align:center;">스크랩 내역이 없습니다.</h3>
                  <br /><hr />
                </div>
              <% } %>

        </div>

    </div>

    <!-- 하단부 -->

    <% include ./sm_footer %>





    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </div>
</body>



</html>
