<!DOCTYPE html>
<html>
<head>
<script>
  function previewFiles(i) {
    var preview = document.querySelector('#preview'+i);
    var files   = document.querySelector('#file'+i).files;

    function readAndPreview(file) {

      // `file.name` 형태의 확장자 규칙에 주의하세요
      if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
        var reader = new FileReader();

        reader.addEventListener("load", function () {
          var imgId="img" + i;
          var imgObject = document.getElementById(imgId);

          var image = new Image();
          image.className = "img-responsive img-center img-thumbnail img";
          image.id = imgId;
          image.height = 100;
          image.title = file.name;
          image.src = this.result;
          image.style = "height:180px; width: 300px; margin-top:2%";

          preview.removeChild( imgObject );
          preview.appendChild( image );

          changeFile[i] = 1;

        }, false);

        reader.readAsDataURL(file);
      }

    }

    if (files) {
      [].forEach.call(files, readAndPreview);
    }

  };

  </script>


</head>

<body class="body">

    <div class="container">

      <!--2-->
      <div class="row">

      <!-- (2-2) -->
      <div class="col-md-9">
        <form action='/sm_changeDetail/<%= id %>' class="form-horizontal" role="form" id="form" name="form" method = "post"  enctype="multipart/form-data" onsubmit="return submitCheck()" >
          <div class="form-group"> <!--has-success has-feedback-->

            <div class="col-sm-3 control-label">
              <label for="" class="control-label">사진 :</label>
            </div>

            <div class="col-sm-5 text-center">
              <div class="thumbnail">
                <% for (i=0; i< photo.length; i++){ %>
                  <div id="div<%= i %>">
                    <div id="preview<%= i %>">
                      <img class="img-responsive img-center img-thumbnail img" name="img<%= i %>" id="img<%= i %>" src="<%= photo[i]%>" alt="x" style="height:180px; width: 300px; margin-top:2%"/>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
          <div class="form-group"> <!--has-success has-feedback-->
            <div class="text-center">
                <input type="submit" value="등록하기" class="btn btn-primary" onclick="location.href='/sm_changeDetail/<%= id %>'" >
                <input type="reset" value="취소하기" class="btn btn-danger" >
            </div>
          </div>

        </form>
      </div>
      </div>
    </div>

</body>


<% include ./sm_footer %>

</html>
